body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Header */

.bannerHeader {
    height: 100vh;
    background-color: #317FB6;
}

.header {
    width: 100%;
    height: 10vh;
    background-color: #317FB6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.navBar img.menuIcon {
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.navBar img.inactive {
    display: none;
}

.navBarDesktop ul li a.active,
.navBarMobile ul li a.active {
    opacity: 0.5;
}

.navBar img.fecharIcon {
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}

.navBarDesktop {
    display: none;
}

.navBarMobile {
    background-color: white;
    position: absolute;
    top: 69px; 
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden; 
    transition: max-height 1s ease;
    z-index: 1000;
    background-color: #317FB6;
}

.activeFecharIcon {
    display: block;
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.navBarMobile.active {
    max-height: 500px;
}

.navBarMobile ul {
    list-style: none;
    padding: 0;
}

.navBarMobile ul li {
    padding: 10px;
}

.navBarMobile ul li a {
    color: white;
    text-decoration: none;
}

.navBarMobile ul li a:hover {
    opacity: 0.5;
}

/* Fim Header */

/* Banner */

.banner {
    position: relative;
    width: 100vw;
    height: 90vh;
    background-image: url('../images/banner204.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.bannerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
    position: relative;
    z-index: 1;
}

.bannerText h1 {
    font-size: 40px;
    text-align: center;
}

.containerInfoSala {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoSala {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoSala h1 {
    font-size: 25px;
    text-align: center;
    margin: 0;
    margin-top: 30px;
    font-weight: lighter;
}

.infoSala p {
    margin: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 30px;
}

.containerAvisos {
    background-color: #007ea7;
    height: 925px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.painelAvisos {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.avisoTitle {
    margin: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.painelAvisos .painelAviso {
    background-color: white;
    border-radius: 20px;
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerAtvdEProvas{
    background-color: white;
    height: 990px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.atvTitle{
    margin: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.painelAtvEProvas{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.painelAtvEProva{
    background-image:linear-gradient(to top, #001a7f, #008dd3 ) ;
    border-radius: 20px;
    width: 225px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.verMaisBtn{
    background-image:linear-gradient(to top, #01435F, #247ba0 ) ;
    color: white;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 120px;
    height: 40px;
    transition: all 0.5s ease;
}
.verMaisBtn:hover{
    opacity:0.7 ;
    cursor: pointer;
    transform: scale(1.10);
}

.verMaisBtn a {
    text-decoration: none;
    color: white;
}

.containerQuiz{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.painelQuiz{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.h1Quiz {
    text-align: center;
    font-weight: lighter;
    margin: 20px;
}

.pQuiz {
    text-align: center;
}

.quizBtn{
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    background-color: #bcd2ee;
    transition: all 0.5s ease;
}

.quizBtn:hover{
    opacity: 0.7;
    cursor: pointer;
    transform: scale(1.08);
}

.quizBtn a {
    text-decoration: none;
    color: black;
}

.containerColaboradores{
    background-color: #07a2ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.painelColaboradores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}
.painelColaborador{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.nomeColaborador{
    text-align: center;
    color: #fff;
    margin: 0;
    margin-top: 10px;
}

.funcaoColaborador{
    color: rgb(62, 62, 62);
    margin: 0;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
}

.imgColaborador{
    width: 120px;
    height: 120px;
}
.colaboradoresTitle{
    color: #fff;
    font-weight: lighter;
}

.containerHorario {
    background-color: #003459;
    height: 825px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerHorario h1 {
    text-align: center;
    color: white;
    font-weight: lighter;
    margin-top: 30px;
}

.containerHorario p {
    text-align: center;
    color: #eee;
}

.containerHorario small {
    text-align: center;
    color: #eee;
    font-style: italic;
}

.horarioDesktop {
    display: none;
}

.segundaHorario,
.tercaHorario,
.quartaHorario,
.quintaHorario,
.sextaHorario {
    display: none;
    height: 500px;
    width: 100px;
}

.show {
    display: table;
}

.moreBtn {
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 45px;
    width: 140px;
    background-color: #bcd2ee;
    transition: all 0.5s ease;
}

.moreBtn:hover {
    opacity: 0.7;
    cursor: pointer;
    transform: scale(1.08);
}

.moreBtn a {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: #00171f;
    height: 125px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.footer .footerText {
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

.footer .footerColaboradores {
    color: white;
    text-align: center;
    margin: 0;
}

@media (min-width: 1024px) {
    .bannerHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header {
        max-width: 1024px;
    }
    .navBar img.menuIcon {
        display: none;
    }
    .bannerText h1 {
        font-size: 50px;
    }
    .navBarDesktop {
        display: flex;
    }
    .navBar ul {
        display: flex;
        list-style: none;
        gap: 15px;
    }
    .navBar ul li {
        padding: 10px;
    }
    .navBar ul li a {
        color: white;
        text-decoration: none;
    }
    .navBar ul li a:hover {
        opacity: 0.5;
    }
    .containerInfoSala {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url('../images/infosala.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .infoSala {
        max-width: 980px;
    }
    .infoSala p {
        font-size: 20px;
        font-weight: 100;
        line-height: 27px;
        color: #222;
        margin-top: 20px;
    }
    .containerAvisos {
        height: 450px;
        display: flex;
        align-items: center;
    }
    .painelAvisos {
        flex-direction: row;
        gap: 150px;
        max-width: 980px;
    }
    .painelAvisos .painelAviso {
        width: 250px;
        height: 250px;
    }
    .containerAtvdEProvas {
        height: 450px;
        display: flex;
        align-items: center;
    }
    .painelAtvEProvas {
        flex-direction: row;
        gap: 150px;
        max-width: 980px; 
    }
    .painelAtvEProvas .painelAtvEProva {
        width: 250px;
        height: 250px; 
    }
    .verMaisBtn{
        width: 200px;
        height: 50px;
        font-size: 15pxs;
    }
    .quizBtn{
        height: 50px;
        width: 140px;
        font-size: 17px;
    }
    .painelColaboradores {
        flex-direction:row;
        gap: 250px;
    }
    .show {
        display: none;
    }
    .horarioDesktop {
        display: table;
    }
    .horarioImg {
        width: 980px;
        height: 500px;
    }
    .moreBtn {
        display: none;
    }
    .containerHorario {
        height: 670px;
    }
}
