body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
    background-color: white;
}

/* Header */

.bannerHeader {
    height: 10vh;
    background-color: #317FB6;
}

.headerContainer {
    width: 100vw;
    height: 10vh;
    background-color: #317FB6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarDesktop ul li a.active,
.navBarMobile ul li a.active {
    opacity: 0.5;
}


.logo {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navBar img.menuIcon {
    width: 35px;
    height: 35px;
    margin: 10px 10px;
    margin-top: 15px;
    cursor: pointer;
}

.navBar img.inactive {
    display: none;
}

.navBar img.fecharIcon {
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
    display: none;
}

.navBarDesktop {
    display: none;
}

.navBarMobile {
    background-color: white;
    position: absolute;
    top: 69px; 
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden; 
    transition: max-height 1s ease;
    z-index: 1000;
    background-color: #317FB6;
}

.activeFecharIcon {
    display: block;
    width: 35px;
    height: 35px;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.navBarMobile.active {
    max-height: 500px;
}

.navBarMobile ul {
    list-style: none;
    padding: 0;
}

.navBarMobile ul li {
    padding: 10px;
}

.navBarMobile ul li a {
    color: white;
    text-decoration: none;
}

.navBarMobile ul li a:hover {
    opacity: 0.5;
}

/* Fim Header */

.quizName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizName h1, h2 {
    text-align: center;
}

.quizName input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
    outline: none;
}

.quizName button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: #317FB6;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease;
}

.quizName button:hover {
    opacity: 0.5;
}

.quizArea {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.titleQuestion {
    text-align: center;
}

.subTitleQuestion {
    text-align: center;
}

.barra{
    height: 5px;
    position: fixed;
    left: 0;
    top: 1;
    right: 0;
}

.barraDeProgresso{
    background-color: #00ff00;
    height: 100%;
    transition: all ease 0.5s;
}

.containerQuestao,.scoreArea{
    display: none;
}

.containerQuestao{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.questao{
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 20px;
    width: 98%;
}

.opcoes {
    margin: 10px;
}

.opcao{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    margin-bottom: 5px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.btnVerRanking {
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: #317FB6;
    color: white;
    font-weight: bold;
    transition: all 0.5s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}

.correta {
    background-color: #0d630d;
}

.errada {
    background-color: #ff0000;
}

.opcao span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left:5px ;
    margin-right:10px;
    color: #111;
}
.opcao:hover{
    background-color: rgba(0,0,0,0.2);
}
.scoreArea{
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scoreText1{
    color: black;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}
.scorePct{
    color: #0d630d;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.scoreText2{
    color: black;
    font-size: 16px;
    margin-bottom: 10px;  
}

.rankingItem {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rankingPosition {
    flex: 0 0 50px; /* Largura fixa para a posição no ranking */
    font-weight: bold;
    text-align: center; /* Centraliza horizontalmente o texto */
}

.rankingName {
    flex: 3; /* Ocupa mais espaço */
    min-width: 150px; /* Largura mínima para garantir espaço suficiente */
    margin-left: 10px; /* Espaço entre o nome e a pontuação */
}

.rankingScore {
    flex: 1; /* Ocupa mais espaço */
    min-width: 80px; /* Largura mínima para garantir espaço suficiente */
    text-align: center; /* Centraliza horizontalmente o texto */
    font-weight: bold;
    color: #007bff; /* Cor da pontuação */
}


.btnConfirmar{
    border: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #ccc;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
        
}
.btnConfirmar:hover{
    background-color: rgba(0,0,0,0.4);
}

.btnReiniciar{
    border: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #ccc;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.btnReiniciar:hover{
    background-color: rgba(0,0,0,0.4);
}


/* Fim Quiz */
@media (min-width: 1024px) {
    .bannerHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header {
        max-width: 1024px;
    }
    .navBar img.menuIcon {
        display: none;
    }
    .bannerText h1 {
        font-size: 50px;
    }
    .navBarDesktop {
        display: flex;
    }
    .navBar ul {
        display: flex;
        list-style: none;
        gap: 15px;
    }
    .navBar ul li {
        padding: 10px;
    }
    .navBar ul li a {
        color: white;
        text-decoration: none;
    }
    .navBar ul li a:hover {
        opacity: 0.5;
    }
}
